*{
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    color: whitesmoke;
}

body {
  cursor: url('https://i.imgur.com/XCagQbm.png'), default;
  background-color: black;
}

.navbar {
  width: 100%;
  background-color: white;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  width: 100%;
}

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  padding-bottom: 3em;
}

.wkb{
  width: 32em;
  height: 32em;
  margin-right: 2em;
}

.typing{
  max-width: 30vmax;
}

.diamond{
  width: 32em;
  height: 32em;
  margin-right: 7em;
  transform: rotate(45deg);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.card-img-top{
  object-fit: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.content > h3{
  justify-content: left;
}

.content > skill-body{
  color: black;
  background-color: white;
}


h2#skills{
  color: black;
  background-color: white;
}

.skill-images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10vmin;
}

.main > .profile > .diamond{
  transform: rotate(45deg);
  max-width: 40%;
  height: auto;
}

footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 5em;
}

/* .row row-cols-1 row-cols-md-3 g-4 {
  display: flex;
  flex-direction: row;
  max-width: 32vw;
} */
