*{
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    color: whitesmoke;
}

body {
  background-color: black;
}

.container-fluid {
  background-color: white;
}

.navbar {
  width: 100%;
  background-color: white;
}

.nav-logo {
  width: 2.5vmax;
  height: 2.5vmax;
}
.wkb-name {
  color: black;
  font-size: 1em;
  padding: 8px;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
  width: 100%;
}

.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8em;
  margin-bottom: 6em;   
}

.wkb{
  width: 25vmax;
  height: 25vmax;
  margin-right: 2em;
}


.typing{
  width: 20vmax;
}

.diamond{
  height: 25vmax;
  width: 25vmax;
  margin-right: 4em;
  transform: rotate(45deg);
}

.main > .profile > .diamond{
  transform: rotate(45deg);
  max-width: 40%;
  height: auto;
}

.about {
  background-color: rgb(21, 22, 22);
  padding: 4em;
}

.about > h2 {
  display: flex;
  justify-content: center;
}

.about > h3 {
  display: flex;
  justify-content: center;
  margin: 0 6em 0 6em;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.card-img-top{
  object-fit: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.content > h3{
  justify-content: left;
}

h2#skills{
  color: black;
  background-color: white;
  padding: 1.5em;
}

.skillz {
  color: black;
  background-color: white;
  padding: 0 5em 5em 5em;
}

div img {
  height: 10vmin;
}

.div-city {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}


.projects {
  padding: 4em;
}

.contact {
  display: flex;
  justify-content: space-around;
}

h5, p {
  color: black;
}

h5{
  size: 2em;
}

p{
  size: 1em;
}

footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 5em;
}

