* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.frost {
  background-color: white;
}

.hero {
  height: 100vh;
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif important;
}

.container-fluid {
  background-color: white;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: fixed;
}

.nav-logo {
  width: 2.5vmax;
  height: 2.5vmax;
}
.wkb-name {
  color: black;
  font-size: 1em;
  padding: 8px;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: whitesmoke;
  width: 100%;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 20vh 5vw 20vh 5vw;
}

.wkb {
  width: 20vmax;
  height: 20vmax;
}
.type-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.typing {
  width: 20vw;
  font-size: 1em;
}

.diamond {
  height: 20vmax;
  width: 20vmax;
  transform: rotate(45deg);
}

.main > .profile > .diamond {
  transform: rotate(45deg);
  max-width: 40%;
  height: auto;
}

.about {
  height: 85vh;
}

.about > h2 {
  display: flex;
  justify-content: center;
}

.about > h3 {
  display: flex;
  justify-content: center;
  margin: 0 6em 0 6em;
}

.navvy {
  font-size: 0.5em;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.card-img-top {
  object-fit: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.content > h3 {
  justify-content: left;
}

.segments {
  padding: 1.5em 0 1.5em 0;
}

.information {
  display: block;
  width: 60vw;
}

.tech {
  color: black;
  background-color: white;
  padding: 0 5em 5em 5em;
  height: vh;
}

.div-city > div img,
.contact > div img {
  height: 10vmin;
}

.div-city {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.projects {
  padding: 4em;
}

.contact,
.form-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

h5,
p {
  color: black;
}

h5 {
  size: 2em;
}

p {
  size: 1em;
}

.subtext {
  color: whitesmoke;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  margin-top: 5em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}
